<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>PostServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.PostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostServlet</servlet-name>
        <url-pattern>/posts.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CandidateServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.CandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateServlet</servlet-name>
        <url-pattern>/candidates.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.IndexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.DownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteCandidate</servlet-name>
        <servlet-class>ru.job4j.servlet.DeleteCandidateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteCandidate</servlet-name>
        <url-pattern>/cdelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeletePost</servlet-name>
        <servlet-class>ru.job4j.servlet.DeletePostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeletePost</servlet-name>
        <url-pattern>/pdelete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.AuthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/auth.do</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.job4j.filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>ru.job4j.filter.CORSFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>*.do</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>RegServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.RegServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegServlet</servlet-name>
        <url-pattern>/reg.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CandidateEditServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.CandidateEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CandidateEditServlet</servlet-name>
        <url-pattern>/candidate/edit.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>PostEditServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.PostEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PostEditServlet</servlet-name>
        <url-pattern>/post/edit.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GreetingServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.GreetingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GreetingServlet</servlet-name>
        <url-pattern>/greet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CityServlet</servlet-name>
        <servlet-class>ru.job4j.servlet.CityServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CityServlet</servlet-name>
        <url-pattern>/city</url-pattern>
    </servlet-mapping>

</web-app>